<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 5px;
        text-align: center;
      }
      div.comments {
        background-color: rgb(28, 26, 26);
        margin: 10px 20px;
        padding: 1px 20px;
      }
      h3 {
        text-align: left;
        text-transform: uppercase;
      }
      p {
        text-align: left;

      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>a random gif from www.gasta.org &#129409;</h4>
      <img style="width: 100%; margin: auto" src="{{url}}" />
      <h3>Comments</h1>
      {% for comment in comments %}
      <div class="comments">
        <p style="font-size: 16px"><b>{{ comment[0] }}</b>: {{ comment[1] }} {{ '😂' * comment[2] }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>

